KIRA_HOST=127.0.0.1
KIRA_PORT=8765
KIRA_LLM_BASE_URL=http://127.0.0.1:11434
KIRA_LLM_MODEL=qwen3:4b
KIRA_TEMPERATURE=0.8
KIRA_SUPABASE_URL=
KIRA_SUPABASE_PUBLISHABLE_KEY=
KIRA_PIPER_MODEL=\nKIRA_STT_MODEL=small\nKIRA_STT_LANGUAGE=ru\n